<div class="panel panel-primary">
    <div class="panel-body">
        <form (ngSubmit)="onSubmit()" [formGroup]="_formPlatform">
            <div class="form-group">
                <label for="plat_name">Plataforma</label>
                <input type="text" class="form-control" id="plat_name" [ngModel]="_platform?._title" maxlength="30" formControlName="plat_name">
            </div>
            <button type="button" class="btn btn-default" (click)="onClear()">Limpiar</button>
            <button type="submit" class="btn btn-primary" [disabled]="!_formPlatform.valid">Guardar</button>
        </form>
    </div>
</div>