<div class="panel panel-primary">
  <div class="panel-body">
    <h3>Tabla de noticias</h3>
    <table class="table table-striped additional-tables">
      <thead class="additional-headtable">
        <tr style="display: block;">
          <th>
            Encabezado
          </th>
          <th>
            Lenguaje
          </th>
          <th>
            Aplicación
          </th>
          <th>
            Fecha visible
          </th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody id="platforms_table_tbody" class="additional-tablebody">
        <app-news-item [inNew]="new" [inApp]="getApp(new)" [inLanguage]="getLanguage(new)" *ngFor="let new of _newsList">
        </app-news-item>
      </tbody>
    </table>
  </div>
</div>